* {
  padding: 0;
  margin: 0;
}

#background {
  background-image: url("./assets/fountain.webp");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vw;
  min-height: 100vh;
}

#overlay {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  border-radius: 10px;
  width: max-content;
  height: max-content;
  box-sizing: border-box;
  box-shadow: 2px 2px 20px rgba(135, 206, 250, 0.5);
}

#aside {
  max-height: 400px;
  min-height: 350px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
}

#login {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
  box-sizing: border-box;
}

#login-title {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #ssn {
    height: 70px;
    margin-right: 80px;
  }

  #intern-track {
    height: 130px;
  }
}

.input-wrapper {
  width: 300px;
  position: relative;
}

.input-wrapper input {
  width: 90%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(39, 40, 41, 0.6);
  font-size: 15px;
  transition: all 0.4s ease;
}

.input-wrapper span {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 10px;
  color: rgba(39, 40, 41, 0.6);
  pointer-events: none;
  transition: all 0.4s ease;
}

.input-wrapper input:focus {
  outline: 2px solid #0a5aa1;
}

.input-wrapper input:focus ~ span {
  color: #0a5aa1;
}

.input-wrapper input:focus ~ span,
.input-wrapper input:valid ~ span {
  transform: translateY(-32px);
  font-size: 11px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form > button {
  margin-top: 10px;
  font-family: "Inter", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  transition: 0.4s ease;
  background-color: #0a5aa1;
  border: 2px solid #0a5aa1;
  color: white;
}

form > button:hover {
  background-color: white;
  border: 2px solid #0a5aa1;
  color: #0a5aa1;
}

#hint {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: aliceblue;
  font-family: "Roboto";
  font-size: 14px;
}

*::selection {
  background-color: #0a5aa1;
  color: white;
}
